<input id={{inputId}} type="checkbox" name={{name}} value="1"> 
<label for={{inputId}}>{{caption}}</label>
{{#if control.showOptionControl}}
	{{component control.optionControl.decorator control=control.optionControl}}
{{/if}} 