<label for={{inputId}}>{{caption}}</label>
<select id={{inputId}} disabled={{disabled}} onchange={{action 'selectionChanged' value="target.value"}} {{action 'focus' on='focus-in'}} {{action 'blur' on='focus-out'}}>
	{{#if placeholder}}
		<option value="0">{{placeholder}}</option>
	{{/if}}
	{{#each control.options key="@index" as |option|}}
		<option value={{option.index}} selected={{eq option.index selectedIndex}}>{{option.caption}}</option>
	{{/each}}
</select>
{{#if control.showOptionControl}}
	{{component control.optionControl.decorator control=control.optionControl}}
{{/if}}
{{furnace-form-messages}}