<label  {{bind-attr for=inputId}}>{{caption}}</label>
{{view "select"
       content=control.options
       optionValuePath="content.index"
       optionLabelPath="content.caption"
       value=control.selectedIndex
       prompt=placeholder
       disabled=disabled
       change=selectionChanged
       didInsertElement=inputInsert
       targetObject=this 
       focus-in="focus" 
       focus-out="blur"
       }}
{{#if control.showOptionControl}}
	{{f-control control.optionControl dynamic=true}}
{{/if}}
{{f-messages}}