<label  {{bind-attr for=inputId}}>{{caption}}</label>
<options>
	{{#each control in controls}}
		{{f-control control}}
	{{/each}}
</options>
{{#if showControl}}
	{{f-control control dynamic=true}}
{{/if}}
{{f-messages}}