({{value}}:{{caption}})
{{input type="radio" name=name class=name click="select" value="1" didInsertElement=inputInsert focus-in="focus" focus-out="blur"}}
<label  {{bind-attr for=inputId}}>{{i18n caption}}</label>
