<label  {{bind-attr for=inputId}}>{{i18n caption}}</label>
{{input name=name class=name value=value didInsertElement=inputInsert}}
{{#if controlMessages}}
<ul>
	{{#each message in controlErrors}}
		<li>{{i18n message attributes=message.attributes}}</li>
	{{/each}}
	{{#each messages in controlWarnings}}
		<li>{{i18n message attributes=message.attributes}}</li>
 	{{/each}}
 	{{#each message in controlNotices}}
		<li>{{i18n message attributes=message.attributes}}</li>
	{{/each}}
</ul>
{{/if}}